#map{
    height: 90%;
    width:100%;
    margin:0 auto;
    z-index:1;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#loadingCircle{
    width:200px;
    height:200px;
    z-index: 3;
}
#loadingContainer{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width:200px;
    height:200px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    padding:5px 5px 5px 5px;    
}
#header {
    text-align: center;
    margin: 0 auto;
    height: 5%;
    z-index: 11;
    background-image: url("../img/head.jpeg");
    background-size: 100%;
    vertical-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    overflow:hidden;
}

.mdl-layout__container {
    height:100%;
}

.mdl-layout__drawer{
    overflow: auto;
}

.mdl-layout__drawer-button {
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

#menu {
    height: 90%;
}

#cGen {
    position:fixed;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 70%;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0%;
}
#stopButton {
    position:fixed;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 45%;
}
#clearButton {
    position:fixed;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 45%;
}

#bScore {
    position: fixed;
    z-index: 2;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 80%;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 0%;
}

.setting {
    margin-top:5px;
    padding:5px 5px 5px 5px;
}


